doctype html
html(lang="en")
  head
    meta(http-equiv="content-type", content="text/html;charset=UTF-8")
    //
      if IEmeta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    |       
    |     
    meta(name="author", content="ScriptsBundle")
    |       
    |     
    title Hostlyte| Largest Hostel Classified Portal
    // =-=-=-=-=-=-= Favicons Icon =-=-=-=-=-=-=
    link(rel="icon", href="images/favicon112.ico", type="image/x-icon")
    // =-=-=-=-=-=-= Mobile Specific =-=-=-=-=-=-=
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    // =-=-=-=-=-=-= Bootstrap CSS Style =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/bootstrap.css")
    // =-=-=-=-=-=-= Template CSS Style =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/style.css")
    // =-=-=-=-=-=-= Font Awesome =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/font-awesome.css", type="text/css")
    // =-=-=-=-=-=-= Flat Icon =-=-=-=-=-=-=
    link(href="css/flaticon.css", rel="stylesheet")
    // =-=-=-=-=-=-= Et Line Fonts =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/et-line-fonts.css", type="text/css")
    // =-=-=-=-=-=-= Menu Drop Down =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/forest-menu.css", type="text/css")
    // =-=-=-=-=-=-= Animation =-=-=-=-=-=-=
    link(rel="stylesheet", href="css/animate.min.css", type="text/css")
    // =-=-=-=-=-=-= Select Options =-=-=-=-=-=-=
    link(href="css/select2.min.css", rel="stylesheet")
    // =-=-=-=-=-=-= noUiSlider =-=-=-=-=-=-=
    link(href="css/nouislider.min.css", rel="stylesheet")
    // =-=-=-=-=-=-= Listing Slider =-=-=-=-=-=-=
    link(href="css/slider.css", rel="stylesheet")
    // =-=-=-=-=-=-= Owl carousel =-=-=-=-=-=-=
    link(rel="stylesheet", type="text/css", href="css/owl.carousel.css")
    |       
    |     
    link(rel="stylesheet", type="text/css", href="css/owl.theme.css")
    // =-=-=-=-=-=-= Check boxes =-=-=-=-=-=-=
    link(href="skins/minimal/minimal.css", rel="stylesheet")
    // =-=-=-=-=-=-= Responsive Media =-=-=-=-=-=-=
    link(href="css/responsive-media.css", rel="stylesheet")
    // =-=-=-=-=-=-= Template Color =-=-=-=-=-=-=
    link#color(rel="stylesheet", href="css/colors/defualt.css")
    // =-=-=-=-=-=-= For Style Switcher =-=-=-=-=-=-=
    link#theme-color(rel="stylesheet", type="text/css", href="#")
    // =-=-=-=-=-=-= Check boxes =-=-=-=-=-=-=
    link(href="skins/minimal/minimal.css", rel="stylesheet")
    // JavaScripts
    script(src="js/modernizr.js")
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //
      if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      |
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  |    
  |   
  body
    // =-=-=-=-=-=-= Preloader =-=-=-=-=-=-=
    #loader-wrapper
      #loader
      |          
      |       
      .loader-section.section-left
      |          
      |       
      .loader-section.section-right
    // =-=-=-=-=-=-= Light Header =-=-=-=-=-=-=
    .colored-header
      // Top Bar
      .header-top
        .container
          .row
            // Header Top Left
            .header-top-left.col-md-8.col-sm-6.col-xs-12.hidden-xs
              ul.listnone
                li
                  a(href="about")
                    i.fa.fa-heart-o(aria-hidden="true")
                    |  About
                |                         
                |                 
                li
                  a(href="faq")
                    i.fa.fa-folder-open-o(aria-hidden="true")
                    |  FAQS
            // Header Top Right Social
            .header-right.col-md-4.col-sm-6.col-xs-12
              .pull-right
                ul.listnone
                  li
                    a(href="/logout")
                      i.fa.fa-sign-in
                      |  #{user.name}
      // Top Bar End
      // Navigation Menu
      nav#menu-1.mega-menu
        // menu list items container
        section.menu-list-items
          .container
            .row
              .col-lg-12.col-md-12
                // menu logo
                ul.menu-logo
                  li
                    a(href="/")
                      img(src="images/logo21.png", alt="HOSTLYTE")
                // menu links
                ul.menu-links
                  // active class
                  li
                    a(href="javascript:void(0)")
                      | Home 
                      i
                  |                               
                  |                   
                  li
                    a(href="javascript:void(0)")
                      | Listing 
                      i
                  |                               
                  |                   
                  li
                    a(href="javascript:void(0)")
                      | Categories 
                      i
                  |                               
                  |                   
                  li
                    a(href="contact") Contact 
                |                             
                |                 
                ul.menu-search-bar
    // Navigation Menu End
    // =-=-=-=-=-=-= Light Header End  =-=-=-=-=-=-=
    // =-=-=-=-=-=-= Transparent Breadcrumb =-=-=-=-=-=-=
    .page-header-area
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .header-page
              h1 #{Ads.title}  
    // Small Breadcrumb
    .small-breadcrumb
      .container
        .breadcrumb-link
          ul
            li
              a(href="/") Home Page
            |                                  
            |             
            li
              a.active(href="#") AD 
    // Small Breadcrumb
    // Small Breadcrumb
    // =-=-=-=-=-=-= Transparent Breadcrumb End =-=-=-=-=-=-=
    // =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-=
    .main-content-area.clearfix
      // =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-=
      section.section-padding.error-page.pattern-bgs.gray
        // Main Container
        .container
          // Row
          .row
            // Middle Content Area
            .col-md-8.col-xs-12.col-sm-12
              // Single Ad
              .single-ad1
                // Title
                .ad-box
                  h1 #{Ads.title}
                  |                            
                  .short-history
                    ul
                      li
                        | Published on: 
                        b #{Ads.createdAt}
                      |                                  
                      li
                        | Category: 
                        b
                          p  #{(Ads.category ? "Girls Hostel" : "Boys Hostel")}
                // Listing Slider
                .flexslider.single-page-slider
                  .flex-viewport
                    ul.slides.slide-main
                      li
                        img(alt="", src="images/single-page/1.jpg", title="")
                      |                                  
                      li
                        img(alt="", src="images/single-page/2.jpg", title="")
                      |                                  
                      li.flex-active-slide
                        img(alt="", src="images/single-page/3.jpg", title="")
                      |                                  
                      li
                        img(alt="", src="images/single-page/4.jpg", title="")
                      |                                  
                      li
                        img(alt="", src="images/single-page/5.jpg", title="")
                      |                                  
                      li
                        img(alt="", src="images/single-page/6.jpg", title="")
                // Listing Slider Thumb
                #carousels.flexslider
                  .flex-viewport
                    ul.slides.slide-thumbnail
                      li
                        img(alt="", draggable="false", src="images/single-page/1_thumb.jpg")
                      |                                  
                      li
                        img(alt="", draggable="false", src="images/single-page/2_thumb.jpg")
                      |                                  
                      li.flex-active-slide
                        img(alt="", draggable="false", src="images/single-page/3_thumb.jpg")
                      |                                  
                      li
                        img(alt="", draggable="false", src="images/single-page/4_thumb.jpg")
                      |                                  
                      li
                        img(alt="", draggable="false", src="images/single-page/5_thumb.jpg")
                      |                                  
                      li
                        img(alt="", draggable="false", src="images/single-page/6_thumb.jpg")
                      // items mirrored twice, total of 12
                // Share Ad
                .ad-share.text-center
                  .ad-box.col-md-4.col-sm-4.col-xs-12(data-toggle="modal", data-target=".share-ad")
                    i.fa.fa-share-alt
                    |  
                    span.hidetext Share
                |                         
                .clearfix
                // Description
                .ad-box
                  .short-features
                    // Heading Area
                    .heading-panel
                      h3.main-title.text-left
                        | Description
                    |                               
                    .col-sm-4.col-md-4.col-xs-12.no-padding
                      span
                        strong Capacity
                        |  :
                      |  #{Ads.total_capacity}
                    |                               
                    .col-sm-4.col-md-4.col-xs-12.no-padding
                      span
                        strong People living
                        |  :
                      |  #{Ads.current_capacity}
                    |                               
                    .col-sm-4.col-md-4.col-xs-12.no-padding
                      span
                        strong Price
                        |  :
                      |  Rs. #{Ads.price_per_person}
                  // Description
                  .desc-points
                    p  #{Ads.description}. 
                  // Related Image
                  .ad-related-img
                    img.img-responsive.center-block(src="images/car-img1.png", alt="")
                  // Ad Specifications
                  .clearfix
              // Single Ad End
              // Price Alert
              .alert-box-container.margin-top-30
                .well
                  h3 Create Alert
                  |                                        
                  p Receive emails for the latest ads matching your search criteria
                  |                                        
                  form
                    .row
                      .col-md-5.col-xs-12.col-sm-12
                        input.form-control(placeholder="Enter Your Email ", type="text")
                      |                                              
                      .col-md-4.col-xs-12.col-sm-12
                        select.alerts
                          option(value="1") Daily
                          |                                                    
                          option(value="7") Weekly
                      |                                              
                      .col-md-3.col-xs-12.col-sm-12
                        input.btn.btn-theme.btn-block(value="Submit", type="submit")
              // Price Alert End
              // =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-=
              // =-=-=-=-=-=-= Latest Ads End =-=-=-=-=-=-=
            // Right Sidebar
            .col-md-4.col-xs-12.col-sm-12
              // Sidebar Widgets
              .sidebar
                // Contact info
                .contact.white-bg
                  // Email Button trigger modal
                  button.btn-block.btn-contact.contactEmail(data-toggle="modal", data-target=".price-quote") Contact Seller Via Email
                  // Email Modal
                  button.btn-block.btn-contact.contactPhone.number(data-last="")  #{user.phone}
                // Price info block
                .ad-listing-price
                  p Rs #{Ads.price_per_person}
                // User Info
                .white-bg.user-contact-info
                  .user-info-card
                    .user-photo.col-md-4.col-sm-3.col-xs-4
                      img(src="images/users/3.jpg", alt="")
                    |                               
                    .user-information.no-padding.col-md-8.col-sm-9.col-xs-8
                      span.user-name
                        a.hover-color(href="#") 
                      |                                  
                      .item-date
                        span.ad-pub Published on: #{Ads.createdAt}
                        br
                        |                                     
                        a.btn.btn-primary(href='/editad/' +Ads._id) Edit
                        |   
                        br
                        br
                        a.btn.btn-danger(href= '/deletead/' + Ads._id) Delete

                    |                               
                    .clearfix
                  |                            
                  .ad-listing-meta
                    ul
                      li
                        | Ad Id: 
                        span.color #{Ads._id}
                      |                                  
                      li
                        | Categories: 
                        span.color #{(Ads.category ? "Girls Hostel" : "Boys Hostel")}
                      |                                  
                      li
                        | Near University: 
                        span.color #{Ads.near_uni}
                      |                                  
                      li
                        | Location: 
                        span.color Lahore
                  |                            
                  #itemMap(style="width: 100%; height: 370px; margin-bottom:5px;")
                // Featured Ads
                // Recent Ads
                // Saftey Tips
                .widget
                  .widget-heading
                    h4.panel-title
                      a Safety tips for deal
                  |                            
                  .widget-content.saftey
                    ol
                      li Use a safe location to meet seller
                      |                                  
                      li Avoid cash transactions
                      |                                  
                      li Beware of unrealistic offers
              // Sidebar Widgets End
            // Middle Content Area  End
          // Row End
        // Main Container End
      // =-=-=-=-=-=-= Ads Archives End =-=-=-=-=-=-=
      // =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-=
      .footer-top
        .container
          .row
            .col-md-3.col-sm-6.col-xs-12
              // Info Widget
              .widget
                .logo
                  img(alt="HOSTLYTE", src="images/logo12.png")
                |                         
                |                 
                p DESCRIPTION DAALO
                |                         
                |                 
                ul
                  li
                    img(src="images/appstore.png", alt="")
                  |                            
                  |                   
                  li
                    img(src="images/googleplay.png", alt="")
              // Info Widget Exit
            |                   
            |             
            .col-md-3.col-sm-6.col-xs-12
              // Follow Us
              .widget.socail-icons
                h5 Follow Us
                |                         
                |                 
                ul
                  li
                    a.fb(href="")
                      i.fa.fa-facebook
                    span Facebook
                  |                            
                  |                   
                  li
                    a.twitter(href="")
                      i.fa.fa-twitter
                    span Twitter
                  |                            
                  |                   
                  li
                    a.linkedin(href="")
                      i.fa.fa-linkedin
                    span Linkedin
                  |                            
                  |                   
                  li
                    a.googleplus(href="")
                      i.fa.fa-google-plus
                    span Google+
              // Follow Us End
            |                   
            |             
            .col-md-6.col-sm-6.col-xs-12
              // Newslatter
              .widget.widget-newsletter
                h5 Singup for Weekly Newsletter
                |                         
                |                 
                .fieldset
                  p
                    | We may send you information about related events, webinars, products and services which we believe.
                  |                            
                  |                   
                  form
                    input(value="Enter your email address", type="text")
                    |                               
                    |                     
                    input.submit-btn(name="submit", value="Submit", type="submit")
              // Newslatter
      // Copyrights
      .copyrights
        .container
          .copyright-content
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                p
                  | © 2018 Hostlyte All rights reserved. Design by 
                  a(href="github.com/msz991", target="_blank")  MSZ 
      // =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-=
    // Main Content Area End
    // Post Ad Sticky
    // Back To Top
    // =-=-=-=-=-=-= JQUERY =-=-=-=-=-=-=
    script(src="js/jquery.min.js")
    // Bootstrap Core Css
    script(src="js/bootstrap.min.js")
    // Jquery Easing
    script(src="js/easing.js")
    // Menu Hover
    script(src="js/forest-megamenu.js")
    // Jquery Appear Plugin
    script(src="js/jquery.appear.min.js")
    // Numbers Animation
    script(src="js/jquery.countTo.js")
    // Jquery Smooth Scroll
    script(src="js/jquery.smoothscroll.js")
    // Jquery Select Options
    script(src="js/select2.min.js")
    // noUiSlider
    script(src="js/nouislider.all.min.js")
    // Carousel Slider
    script(src="js/carousel.min.js")
    |       
    |     
    script(src="js/slide.js")
    // Image Loaded
    script(src="js/imagesloaded.js")
    |       
    |     
    script(src="js/isotope.min.js")
    // CheckBoxes
    script(src="js/icheck.min.js")
    // Jquery Migration
    script(src="js/jquery-migrate.min.js")
    // Sticky Bar
    script(src="js/theia-sticky-sidebar.js")
    // Style Switcher
    script(src="js/color-switcher.js")
    // Template Core JS
    script(src="js/custom.js")
    // For this Page Only
    // Ckeditor
    script(src="js/ckeditor/ckeditor.js")
    // Ad Tags
    script(src="js/jquery.tagsinput.min.js")
    // DROPZONE JS
    script(src="js/dropzone.js")
    |       
    |     
    script(src="js/form-dropzone.js")
    |       
    |     
    script(type="text/javascript").
      "use strict";
      /*--------- Textarea Ck Editor --------*/
      CKEDITOR.replace( 'editor1' );
      /*--------- Ad Tags --------*/
      $('#tags').tagsInput({
      'width':'100%'
      });
      /*--------- create remove function in dropzone --------*/
      Dropzone.autoDiscover = false;
      var acceptedFileTypes = "image/*"; //dropzone requires this param be a comma separated list
      var fileList = new Array;
      var i = 0;
      $("#dropzone").dropzone({
      addRemoveLinks: true,
      maxFiles: 5, //change limit as per your requirements
      acceptedFiles: '.jpeg,.jpg,.png,.gif',
      dictMaxFilesExceeded: "Maximum upload limit reached",
      acceptedFiles: acceptedFileTypes,
      url: "uploads",
      dictInvalidFileType: "upload only JPG/PNG",
      init: function () {
      // Hack: Add the dropzone class to the element
      $(this.element).addClass("dropzone");
      }
      });
      (jQuery);
    // JS
